<div class="row">
  <h3>Welcome <%= user.username %>! <small>You can find template downloads on this Page</small></h3>
  <p><strong>How to use the templates:</strong>  Columns highlighted in red are required fields.  Columns highlighted in blue are repeatable fields.</p>
  <p>Always download a fresh template to type your metadata into.  Excel can have hidden formatting on cells, and so the fresh template will help to ensure each of your cells is formatted correctly.</p>
  <p>To run the transformer, click to the "Home" tab along the top of this page.  Then click the "Browse" button and find the spreadsheet on your computer.  Then, type an "Output Filename". (If you do not type one, then the transformer will fill in a random name for you.)  Then, click the "Transform" button and wait.  A .zip file of your MODS should appear in the Downloads area.  The .zip file is not stored permanently, so download it to your computer and keep it and your Excel spreadsheet of metadata in a safe place on your computer.</p>
  <p>If there is a problem converting your Excel spreadsheet, you will get an error message in the "Transformation Errors" section.  Read the error message, modify your Excel file, and try again.</p>
  <p>Some troubleshooting information can be found at <a href="https://fig.wiki.flvc.org/wiki/index.php/Workflow:_From_Spreadsheet_to_Islandora"<https://fig.wiki.flvc.org/wiki/index.php/Workflow:_From_Spreadsheet_to_Islandora</a></p>
</div>
  
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Templates</h3>
    </div>
    <div id="submitPanel" class="panel-body">
      <table class="table table-hover">
            <tr>
              <td>Template Documentation:<br><a href="/templates/MODS_template_documentation.xlsx">Download Link</a></td><td>A table showing the name of the field in the template, the corresponding MODS field, and notes about how the transformer uses that field.</td>
            </tr>
          <tr>
            <td>Metadata Template: </br><a href="/templates/metadata_template.xlsx">metadata_template.xlsx</a></td><td>A template you can download and fill out to use in your library.</td>
          </tr>
          <tr>
            <td>Filled out template, Sample 1:</br><a href="/templates/template_test.xlsx">template_test.xlsx</a></td><td>An example template with the fields filled out for you.</td>
          </tr>
          <tr>
            <td>Filled out template, Sample 2:</br><a href="/test/template_test3.xlsx">template_test3.xlsx</a></td><td>An example template with the fields filled out for you.</td>
          </tr>
        </table>
    </div>
  </div>
</div>